In [6]:
for i in range(0, 51, 5):
    celsius=i
    fahrenheit=(9/5)*i+32
    print('섭씨온도: {}, 화씨온도: {}'.format(celsius, fahrenheit))

섭씨온도: 0, 화씨온도: 32.0
섭씨온도: 5, 화씨온도: 41.0
섭씨온도: 10, 화씨온도: 50.0
섭씨온도: 15, 화씨온도: 59.0
섭씨온도: 20, 화씨온도: 68.0
섭씨온도: 25, 화씨온도: 77.0
섭씨온도: 30, 화씨온도: 86.0
섭씨온도: 35, 화씨온도: 95.0
섭씨온도: 40, 화씨온도: 104.0
섭씨온도: 45, 화씨온도: 113.0
섭씨온도: 50, 화씨온도: 122.0

In [8]:
#a에서 2*2//2 = 4//2 = 2이고,
#b에서 3//2*3 = 1*3 = 3이다.
#따라서 print(a,b)를 하면, "2 3"이 출력된다.

In [14]:
s=0
for i in range(1, 1000):
    if i%3==0:
        s+=i
    elif i%5 == 0:
        s+=i
print(s)

233168