In [49]:
from datetime import datetime
now=datetime.now()
print("오늘의 날짜 : {}년 {}월 {}일".format(now.year, now.month, now.day))
if now.hour<12 :
    print("현재시간 : 오전 {}시 {}분 {}초".format(now.hour, now.minute, now.second))
elif now.hour==24:
    print("현재 시간: 오전 12시 {}분 {}초".format(now.minute, now.second))
else:
    print("현재 시간: 오후 {}시 {}분 {}초".format(now.hour-12, now.minute, now.second))

오늘의 날짜 : 2022년 10월 13일
현재 시간: 오후 2시 33분 53초

In [60]:
import datetime as dt
today=dt.date.today()
print("오늘은 {}년 {}월 {}일입니다.".format(today.year, today.month, today.day))
xMas=dt.datetime(2025, 12, 25)
time_gap=xMas-dt.datetime.now()
print('2025년 크리스마스까지는 {}일 {}시간 남았습니다.'.format(time_gap.days, time_gap.seconds // 3600))

오늘은 2022년 10월 13일입니다.
2025년 크리스마스까지는 1168일 9시간 남았습니다.

In [61]:
import datetime as dt
today=dt.date.today()
print("오늘은 {}년 {}월 {}일입니다.".format(today.year, today.month, today.day))
xMas=dt.datetime(2036, 1, 1)
time_gap=xMas-dt.datetime.now()
print('2036년 새해까지는 {}일 {}시간 남았습니다.'.format(time_gap.days, time_gap.seconds // 3600))

오늘은 2022년 10월 13일입니다.
2036년 새해까지는 4827일 9시간 남았습니다.

In [64]:
import datetime as dt
today=dt.date.today()
print("오늘은 {}년 {}월 {}일입니다.".format(today.year, today.month, today.day))
xMas=dt.datetime(2023, 11, 30)
time_gap=xMas-dt.datetime.now()
print('2023년 생일까지는 {}일 {}시간 남았습니다.'.format(time_gap.days, time_gap.seconds // 3600))

오늘은 2022년 10월 13일입니다.
2023년 생일까지는 412일 9시간 남았습니다.

In [65]:
import datetime as dt
today=dt.date.today()
plus=dt.timedelta(days=1000)
today_plus=today+ plus
print(today_plus)

2025-07-09

In [78]:
a, b, c=map(int, input("처음으로 사귄 연도와 월, 일을 입력하시오 :").split())
import datetime as dt
plus=dt.timedelta(days=100)
date_=dt.date(a, b, c)
date_plus=date_+plus
print("100일 기념일은: {}년 {}월 {}일입니다".format(date_plus.year, date_plus.month, date_plus.day))

처음으로 사귄 연도와 월, 일을 입력하시오 :2022 10 13
100일 기념일은: 2023년 1월 21일입니다

In [89]:
import math as m
for i in range(2, 11):
    print("4**{:2}= {:9.1f}".format(i, m.pow(4,i)))

4** 2=      16.0
4** 3=      64.0
4** 4=     256.0
4** 5=    1024.0
4** 6=    4096.0
4** 7=   16384.0
4** 8=   65536.0
4** 9=  262144.0
4**10= 1048576.0

In [91]:
import math as m
for i in range(10, 190, 10):
    print("{:3} degree = {:.3f} radian".format(i, m.radians(i)))

 10 degree = 0.175 radian
 20 degree = 0.349 radian
 30 degree = 0.524 radian
 40 degree = 0.698 radian
 50 degree = 0.873 radian
 60 degree = 1.047 radian
 70 degree = 1.222 radian
 80 degree = 1.396 radian
 90 degree = 1.571 radian
100 degree = 1.745 radian
110 degree = 1.920 radian
120 degree = 2.094 radian
130 degree = 2.269 radian
140 degree = 2.443 radian
150 degree = 2.618 radian
160 degree = 2.793 radian
170 degree = 2.967 radian
180 degree = 3.142 radian

In [94]:
import math as m
for i in range(10, 190, 10):
    print("sin({:4}) = {:.2f}".format(i, m.sin(m.radians(i))))

sin(  10) = 0.17
sin(  20) = 0.34
sin(  30) = 0.50
sin(  40) = 0.64
sin(  50) = 0.77
sin(  60) = 0.87
sin(  70) = 0.94
sin(  80) = 0.98
sin(  90) = 1.00
sin( 100) = 0.98
sin( 110) = 0.94
sin( 120) = 0.87
sin( 130) = 0.77
sin( 140) = 0.64
sin( 150) = 0.50
sin( 160) = 0.34
sin( 170) = 0.17
sin( 180) = 0.00

In [102]:
import random as rd
list_=[]
for i in range(3):
    list_.append(rd.randrange(5, 101, 5))
print("0에서 100 이하의 정수 중에서 5의 배수")
print(list_)

0에서 100 이하의 정수 중에서 5의 배수
[80, 5, 20]

In [104]:
import random as rd
list_=range(1,11)
#range 앞에 list붙여서 형변환해도 가능
print("1에서 10 사이의 임의의 정수 :", rd.sample(list_, 3))

1에서 10 사이의 임의의 정수 : [9, 2, 3]

In [1]:
import turtle as t
t.shape("turtle")

t.forward(100)
t. left(120)
t.forward(100)
t. left(120)
t.forward(100)
t. left(120)

t. forward(200)
t. left(120)
t. forward(200)
t. left(120)
t. forward(200)
t. left(120)
    
t.done()

In [3]:
import turtle as t
t.shape("turtle")

for _ in range(3):
    t.forward(100)
    t. left(120)
for _ in range(3):
    t. forward(200)
    t. left(120)
t.done()

In [5]:
import turtle as t
t.shape("turtle")
for i in range(1,4):
    for _ in range(3):
        t.forward(100*i)
        t. left(120)

t.done()

In [7]:
import turtle as t
t.shape("turtle")
for _ in range(4):
    t.forward(100)
    t.left(90)

t.done()

In [8]:
import turtle as t
t.color('blue')
t.begin_fill()
for _ in range(4):
    t.forward(100)
    t.left(90)
t.end_fill()

t.left(90)
t.color('red')
t.begin_fill()
for _ in range(4):
    t.forward(100)
    t.left(90)
t.end_fill()

t.left(90)
t.color('orange')
t.begin_fill()
for _ in range(4):
    t.forward(100)
    t.left(90)
t.end_fill()

t.left(90)
t.color('green')
t.begin_fill()
for _ in range(4):
    t.forward(100)
    t.left(90)
t.end_fill()

t.done()

In [3]:
import turtle as t
def draw_rect():
    colors=['blue','red', 'orange', 'green']
    for i in range(4):
        t.setheading(90*i)
        t.color(colors[i])
        t.begin_fill()
        for _ in range(4):
            t.forward(100)
            t.left(90)
        t.end_fill()
    t.done()
        
draw_rect()

In [20]:
import turtle as t
def draw_cir():
    colors=['blue','red', 'orange', 'green']
    for i in range(4):
        t.setheading(90*i)
        t.color(colors[i])
        '''
        a=100
        for i in range(a):
            t.forward(1)
            t.left(360/a)
        '''
        t.circle(50)
    t.done()
        
draw_cir()

In [5]:
import turtle as t
import random as rd

t.shape("turtle")
t.shapesize(4,4)
d=300
t.penup()
for i in range(15):
    x=rd.randint(-d,d)
    y=rd.randint(-d, d)
    t.goto(x,y)
    t.stamp()
    
t.done()

In [3]:
import turtle as t
import random as rd

colors=['blue','red', 'orange', 'green']
t.shape("turtle")
t.shapesize(4,4)
d=300
t.penup()
for i in range(15):
    z=rd.randrange(0,4)
    t.color(colors[z])
    x=rd.randint(-d,d)
    y=rd.randint(-d, d)
    t.goto(x,y)
    t.stamp()
    
t.done()