In [20]:
even_list = [2,4,6,8,10]
print("even_list =", even_list)

even_list = [2, 4, 6, 8, 10]

In [19]:
even_list = list(range(2,11,2))
print("even_list =", even_list)

even_list = [2, 4, 6, 8, 10]

In [18]:
nations = ['Korea', 'China', 'India', 'Nepal']
print("nations =", nations)

nations = ['Korea', 'China', 'India', 'Nepal']

In [17]:
friends = ['길동', '철수', '은지', '지은', '영민']
print("friends =", friends)

friends = ['길동', '철수', '은지', '지은', '영민']

In [21]:
string = ['X', 'Y', 'Z']
print("string =", string)

string = ['X', 'Y', 'Z']

In [22]:
prime_list = [2,3,5,7]
print("prime_list의 마지막 원소 : ", prime_list[0])

prime_list의 마지막 원소 :  2

In [25]:
print("prime_list의 마지막 원소 : ", prime_list[3])

prime_list의 마지막 원소 :  7

In [26]:
nations = ['Korea', 'China', 'Russia', 'Malaysia']
print("nations의 첫 원소 :", nations[0])

nations의 첫 원소 : Korea

In [27]:
print("nations의 마지막 원소 :", nations[-1])

nations의 마지막 원소 : Malaysia

In [28]:
print("nations의 마지막 원소 :", nations[len(nations)-1])

nations의 마지막 원소 : Malaysia

In [29]:
prime_list = [2, 3, 5, 7]
print("소수 목록 :", prime_list)
prime_list.append(11)
print("추가 후 소수 목록 :", prime_list)

소수 목록 : [2, 3, 5, 7]
추가 후 소수 목록 : [2, 3, 5, 7, 11]

In [30]:
print("삭제 전 소수 목록 :", prime_list)
prime_list.remove(3)
print("삭제 후 소수 목록 :", prime_list)

삭제 전 소수 목록 : [2, 3, 5, 7, 11]
삭제 후 소수 목록 : [2, 5, 7, 11]

In [31]:
nations=['Korea', 'China', 'Russia', 'Malaysia']
print("국가 목록 :", nations)
nations.append('Nepal')
print("추가 후 국가 목록 :", nations)

국가 목록 : ['Korea', 'China', 'Russia', 'Malaysia']
추가 후 국가 목록 : ['Korea', 'China', 'Russia', 'Malaysia', 'Nepal']

In [35]:
if 'Japan' not in nations:
    print("Japan 는(은) 국가 목록에 없습니다.")
else:
    print("Japan 는(은) 국가 목록에 있습니다.")
    
if 'Russia' not in nations:
    print("Russia 는(은) 국가 목록에 없습니다.")
else:
    print("Russia 는(은) 국가 목록에 있습니다.")

Japan 는(은) 국가 목록에 없습니다.
Russia 는(은) 국가 목록에 있습니다.

In [1]:
prime_list=[2,3,5,7]
print("1에서 10까지의 소수 :", prime_list)
print("최솟값 :", min(prime_list))
print("최댓값 :", max(prime_list))
print("합계 :", sum(prime_list))
print("평균 :", sum(prime_list)/len(prime_list))

1에서 10까지의 소수 : [2, 3, 5, 7]
최솟값 : 2
최댓값 : 7
합계 : 17
평균 : 4.25

In [3]:
nations=['Korea', 'China', 'Russia', 'Malaysia']
print("국가 목록 :", nations)
print("사전에 가장 먼저 나오는 나라 :", min(nations))
print("사전에 가장 뒤에 나오는 나라 :", max(nations))

국가 목록 : ['Korea', 'China', 'Russia', 'Malaysia']
사전에 가장 먼저 나오는 나라 : China
사전에 가장 뒤에 나오는 나라 : Russia

In [4]:
a=[1,2,3]
b=[10,20,30]
a.append(b)
a

[1, 2, 3, [10, 20, 30]]

In [12]:
a=[1,2,3]
b=[10,20,30]
a.extend(b)
a

[1, 2, 3, 10, 20, 30]

In [13]:
nlist = list(range(1,11))
print('nlist =', nlist)

nlist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
nlist = list(range(1,11))
nlist.insert(0,0)
print('nlist =', nlist)

nlist = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
nlist.reverse()
print('nlist =', nlist)

nlist = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [24]:
print('마지막 원소 =', nlist.pop())
print('nlist =', nlist)

마지막 원소 = 0
nlist = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [32]:
n=int(input('반복할 정수를 입력하시오 :'))
print([1,2,3]*n)

반복할 정수를 입력하시오 :4
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [33]:
n_list = list(range(15))
print("n_list =", n_list)

n_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [39]:
s_list1 = n_list[:5]
print('s_list1 =', s_list1)
s_list2 = n_list[5:11]
print('s_list2 =', s_list2)
s_list3 = n_list[11:15]
print('s_list3 =', s_list3)
s_list4 = n_list[2:11:2]
print('s_list4 =', s_list4)
s_list5 = n_list[10:5:-1]
print('s_list5 =', s_list5)
s_list6 = n_list[10:1:-2]
print('s_list6 =', s_list6)

s_list1 = [0, 1, 2, 3, 4]
s_list2 = [5, 6, 7, 8, 9, 10]
s_list3 = [11, 12, 13, 14]
s_list4 = [2, 4, 6, 8, 10]
s_list5 = [10, 9, 8, 7, 6]
s_list6 = [10, 8, 6, 4, 2]

In [45]:
capital_dic = {'Korea':'Seoul', 'China':'Beijing', 'USA':'washington DC'}
print(capital_dic['Korea'])
print(capital_dic['China'])
print(capital_dic['USA'])

Seoul
Beijing
washington DC

In [47]:
fruits_dic={'apple':5000, 'banana':4000, 'grape': 5300, 'melon':6500}
print("apple의 가격은 {0}원입니다".format(fruits_dic['apple']) )
print("banana의 가격은 {0}원입니다".format(fruits_dic['banana']) )
print("grape의 가격은 {0}원입니다".format(fruits_dic['grape']) )
print("melon의 가격은 {0}원입니다".format(fruits_dic['melon']) )

apple의 가격은 5000원입니다
banana의 가격은 4000원입니다
grape의 가격은 5300원입니다
melon의 가격은 6500원입니다

In [49]:
person = {'이름':'홍길동', '나이':26, '몸무게':82, '특기':'분신술'}
print(person)

{'이름': '홍길동', '나이': 26, '몸무게': 82, '특기': '분신술'}

In [50]:
person['아버지']='홍판서'
print(person)

{'이름': '홍길동', '나이': 26, '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}

In [51]:
del person['나이']
print(person)

{'이름': '홍길동', '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}

In [53]:
capital_dic={'Korea':'Seoul', 'China':'Beijing', 'USA':'washington DC'}
print('Korea' in capital_dic)
print('China' in capital_dic)
print('Indonesia' in capital_dic)
print('Beijing' in capital_dic)

True
True
False
False

In [64]:
fruits_dic={'apple':6000, 'melon': 3000, 'banana':5000, 'orange': 7000}

print(fruits_dic.keys())

print(fruits_dic.values())

fruits_dic.pop('apple')
print('fruits_dic :', fruits_dic)

fruits_dic.clear()
print('fruits_dic :', fruits_dic)

dict_keys(['apple', 'melon', 'banana', 'orange'])
dict_values([6000, 3000, 5000, 7000])
fruits_dic : {'melon': 3000, 'banana': 5000, 'orange': 7000}
fruits_dic : {}

In [71]:
fruits_dic={'apple':6000, 'melon': 3000, 'banana':5000, 'orange': 4000}
list1=list(fruits_dic.keys())
print(list1)

['apple', 'melon', 'banana', 'orange']

In [72]:
list2=list(fruits_dic.values())
print(list2)

[6000, 3000, 5000, 4000]

In [75]:
fruits_dic={'apple':6000, 'melon': 3000, 'banana':5000, 'orange': 4000}
print('fruit_dic 딕셔너리의 항목의 개수 :', len(fruits_dic))

fruit_dic 딕셔너리의 항목의 개수 : 4

In [77]:
if 'apple' in fruits_dic:
    print("apple is in fruits_dic.")
else:
    print("apple is not in fruits_dic")
    
if 'mango' in fruits_dic:
    print("mango is in fruits_dic.")
else:
    print("mango is not in fruits_dic")

apple is in fruits_dic.
mango is not in fruits_dic

In [78]:
the_day=(1919, 3, 1)
year, month, day = the_day
print("%d년 %d월 %d일은 삼일절입니다." % (year, month, day))

1919년 3월 1일은 삼일절입니다.

In [79]:
list_for_tuple=[10,20,30]
tuple_by_list= tuple(list_for_tuple)
a, b, c = tuple_by_list
print('a =', a)
print('b =', b)
print('c =', c)

a = 10
b = 20
c = 30

In [80]:
person = ('홍길동', 2019001, 179)
print('person =', person)

person = ('홍길동', 2019001, 179)

In [85]:
#person[1]=2019003 실행시 TypeError: 'tuple' object does not support item assignment가 출력됨

In [87]:
list_person=list(person)
list_person[1]=2020003
person=tuple(list_person)
print('학적 변동 후 person =', person)

학적 변동 후 person = ('홍길동', 2020003, 179)

In [90]:
def square(x,y):
    a=x**2
    b=y**2
    return a,b
x=10
y=20
x_sq, y_sq=square(x,y)
print('{} 제곱 = {}, {} 제곱 = {}'.format(x, x_sq, y, y_sq))

10 제곱 = 100, 20 제곱 = 400

In [91]:
(10, 20, 30) + (40, 50, 60)

(10, 20, 30, 40, 50, 60)

In [92]:
print('Hello '*3)
print(('Hello ',)*3)

Hello Hello Hello
('Hello ', 'Hello ', 'Hello ')

In [94]:
lst = ['apple', 'mango', 'banana']
print('lst =', lst)

s1=set(lst)
print('s1 =', s1)

lst = ['apple', 'mango', 'banana']
s1 = {'banana', 'apple', 'mango'}

In [96]:
greet = 'Good afternoon'
print('greet =', greet)

s2 = set(greet)
print('s2 =', s2)

greet = Good afternoon
s2 = {'G', 'd', 'e', 't', 'a', 'n', 'o', 'r', 'f', ' '}

In [98]:
s1={10,20,30,40}
s2={30,40,50,60,70}
print('1)',s1 | s2)
print('2)',s1 & s2)
print('3)',s1-s2)
print('4)',s1 ^ s2)
print('5)',s1.issubset(s2))
print('6)',s1.issuperset(s2))
print('7)',s1.isdisjoint(s2))

1) {70, 40, 10, 50, 20, 60, 30}
2) {40, 30}
3) {10, 20}
4) {50, 20, 70, 10, 60}
5) False
6) False
7) False

In [104]:
def product_set(set1, set2):
    result_set=set()
    for i in set1:
        for j in set2:
            result_set=result_set|{(i, j)}
    return result_set

A={1,2}
B={'A', 'B', 'C'}

print('AXB =', product_set(A,B))
print('BXA =', product_set(B,A))
print('AXA =', product_set(A,A))
print('BXB =', product_set(B,B))

AXB = {(1, 'C'), (2, 'B'), (1, 'A'), (2, 'C'), (2, 'A'), (1, 'B')}
BXA = {('A', 1), ('B', 1), ('A', 2), ('C', 1), ('C', 2), ('B', 2)}
AXA = {(1, 1), (1, 2), (2, 1), (2, 2)}
BXB = {('A', 'A'), ('B', 'B'), ('B', 'C'), ('B', 'A'), ('C', 'B'), ('C', 'C'), ('A', 'B'), ('C', 'A'), ('A', 'C')}

In [115]:
def product_set(set1, set2):
    result = set()
    for i in set1:
        for j in set2:
            result = result | {(i, j)}
    return result

def tuple_sum(tup):
    if isinstance(tup, int):
        return tup
    else:
        accum = 0
        for element in tup:
            accum += tuple_sum(element)
    return accum

def exp(input_set, exponent):
    res = input_set
    for _ in range(exponenet-1):
        res=product_set(res, input_set)
    return res

dice = {1, 2, 3, 4, 5, 6}
dice_two = product_set(dice, dice)
dice_three = product_set(dice, dice_two)
number_1=0

for i in dice_three:
    number_1 +=1
print("1. 주사위를 세번 던져 발생할 수 있는 사건은 {} 가지 경우가 존재합니다.".format(number_1))

sums=[tuple_sum(i) for i in dice_three]
number_2=0
for i in sums:
    if i>=10:
        number_2+=1
print('2. 주사위를 세 번 던져 나온 눈의 합이 10 이상인 경우는 %d 가지입니다.' % number_2)

print('3번')
for i in range(3,19):
    number=0
    for j in sums:
        if j>=i:
            number+=1
    number_3=number/number_1*100
    print('눈의 합으로 %2d 이상을 얻을 확률 %5.2f%%' %(i, number_3))

1. 주사위를 세번 던져 발생할 수 있는 사건은 216 가지 경우가 존재합니다.
2. 주사위를 세 번 던져 나온 눈의 합이 10 이상인 경우는 135 가지입니다.
3번
눈의 합으로  3 이상을 얻을 확률 100.00%
눈의 합으로  4 이상을 얻을 확률 99.54%
눈의 합으로  5 이상을 얻을 확률 98.15%
눈의 합으로  6 이상을 얻을 확률 95.37%
눈의 합으로  7 이상을 얻을 확률 90.74%
눈의 합으로  8 이상을 얻을 확률 83.80%
눈의 합으로  9 이상을 얻을 확률 74.07%
눈의 합으로 10 이상을 얻을 확률 62.50%
눈의 합으로 11 이상을 얻을 확률 50.00%
눈의 합으로 12 이상을 얻을 확률 37.50%
눈의 합으로 13 이상을 얻을 확률 25.93%
눈의 합으로 14 이상을 얻을 확률 16.20%
눈의 합으로 15 이상을 얻을 확률  9.26%
눈의 합으로 16 이상을 얻을 확률  4.63%
눈의 합으로 17 이상을 얻을 확률  1.85%
눈의 합으로 18 이상을 얻을 확률  0.46%