In [7]:
base=int(input('정사각형의 밑변을 입력하시오 : '))
print('정사각형의 면적 :', base**2)

정사각형의 밑변을 입력하시오 : 40
정사각형의 면적 : 1600

In [16]:
celsius=int(input('섭씨온도를 입력하세요 : '))
print('섭씨', celsius,'도는 화씨', (9/5)*celsius+32,'도 입니다.')

섭씨온도를 입력하세요 : 16
섭씨 16 도는 화씨 60.8 도 입니다.

In [11]:
i=2 <<0
print(i, i<<1, i<<2, i<<3, i<<4, i<<5, i<<6, i<<7, i<<8, i<<9)

2 4 8 16 32 64 128 256 512 1024

In [14]:
n=int(input('정수를 입력하세요 : '))
print('이 수가 짝수인가요?')
if n%2==0:
    print('True')
else:
    print('False')

정수를 입력하세요 : 2
이 수가 짝수인가요?
True

In [17]:
n=int(input('세 자리 정수를 입력하세요 : '))
print('백의 자리 :', n//100,'\n')
print('십의 자리 :', (n%100)//10,'\n')
print('일의 자리 :', n%10,'\n')

세 자리 정수를 입력하세요 : 349
백의 자리 : 3

십의 자리 : 4

일의 자리 : 9