In [1]:
game_score=int(input('game_score = '))
if game_score>=1000:
    print("당신은 고수입니다")

game_score = 1300
당신은 고수입니다

In [3]:
num_a=int(input('num_a = ')) 
num_b=int(input('num_b = '))
if num_a==num_b:
    print('두 값이 일치합니다.')

num_a = 100
num_b = 100
두 값이 일치합니다.

In [6]:
n=int(input('정수를 입력하세요 : '))
print('n =', n)
if n%2==0:
    print(n,'은(는) 짝수입니다.')

정수를 입력하세요 : 13
n = 13

In [9]:
n=int(input('정수를 입력하세요 : '))
print('x =', n)
if n>0:
    print(n,'은(는) 자연수입니다.')

정수를 입력하세요 : 50
x = 50
50 은(는) 자연수입니다.

In [13]:
game_score = int(input('게임점수를 입력하시오 : '))
print('game_score =', game_score)
if game_score >=1000:
    print('고수입니다.')
else:
    print('입문자입니다.')

게임점수를 입력하시오 : 1000
game_score = 1000
고수입니다.

In [15]:
num_a=int(input('한 정수를 입력하시오 : ')) 
num_b=int(input('다른 정수를 입력하시오. : '))
if num_a==num_b:
    print('두 값이 일치합니다.')
else:
    print('두 값이 일치하지 않습니다.')

한 정수를 입력하시오 : 100
다른 정수를 입력하시오. : 200
두 값이 일치하지 않습니다.

In [19]:
n=int(input('당신은 성인인가요(성인이면 1, 미성년이면 0): '))
if n==0:
    print('당신은 미성년자입니다.')
else:
    n=int(input('결혼을 하셨나요(기혼이면 1, 미혼이면 0): '))
    if n==0:
        print('당신은 결혼하지 않은 성인입니다.')
    else:
        print('당신은 결혼한 성인입니다.')

당신은 성인인가요(성인이면 1, 미성년이면 0): 1
결혼을 하셨나요(기혼이면 1, 미혼이면 0): 1
당신은 결혼한 성인입니다.

In [26]:
num=int(input('num = '))
(num>=1) and (num<=10)

num = 1000

False

In [30]:
age=int(input('age = '))
if (age>10) and (age<19):
    print('청소년입니다')

age = 15
청소년입니다

In [33]:
speed = int(input('자동차의 속도를 입력하세요(단위 : km/h ): '))
if speed>=100:
    print('고속')
elif speed>=60:
    print('중속')
else:
    print('저속')

자동차의 속도를 입력하세요(단위 : km/h ): 59
저속

In [52]:
list(range(1,101))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [53]:
list(range(2,101,2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [54]:
list(range(1,101, 2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [58]:
list(range(-1, -100, -1))

[-1,
 -2,
 -3,
 -4,
 -5,
 -6,
 -7,
 -8,
 -9,
 -10,
 -11,
 -12,
 -13,
 -14,
 -15,
 -16,
 -17,
 -18,
 -19,
 -20,
 -21,
 -22,
 -23,
 -24,
 -25,
 -26,
 -27,
 -28,
 -29,
 -30,
 -31,
 -32,
 -33,
 -34,
 -35,
 -36,
 -37,
 -38,
 -39,
 -40,
 -41,
 -42,
 -43,
 -44,
 -45,
 -46,
 -47,
 -48,
 -49,
 -50,
 -51,
 -52,
 -53,
 -54,
 -55,
 -56,
 -57,
 -58,
 -59,
 -60,
 -61,
 -62,
 -63,
 -64,
 -65,
 -66,
 -67,
 -68,
 -69,
 -70,
 -71,
 -72,
 -73,
 -74,
 -75,
 -76,
 -77,
 -78,
 -79,
 -80,
 -81,
 -82,
 -83,
 -84,
 -85,
 -86,
 -87,
 -88,
 -89,
 -90,
 -91,
 -92,
 -93,
 -94,
 -95,
 -96,
 -97,
 -98,
 -99]

In [78]:
a=0
for i in range(0, 100):
    a+=i+1
print(a)

5050

In [76]:
a=0
for i in range(0, 100, 2):
    a+=i+2
print(a)

2550

In [77]:
a=0
for i in range(1, 100, 2):
    a+=i
print(a)

2500

In [83]:
for i in range(7, 0, -1):
    st=''
    for j in range(i):
        st += ' '
    print(st+'#')

       #
      #
     #
    #
   #
  #
 #